$default-border-style: solid;
$default-border-width: 4px;
$default-axis-width: 2px;
$z-gradient-list: (
  (0, gainsboro, black),
  (1, lightgray, black),
  (2, silver, black),
  (3, darkgray, white),
  (4, gray, white),
  (5, dimgray, white),
  ('unknown', white, gray)
);
.powerade {
  div, figure, img, figcaption {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  max-width: 100%;
  .container {
    position: relative;
    max-width: 100%;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    .visualization {
      display: grid;
      grid-template-columns: auto 95% auto;
      grid-template-rows: auto 95% auto;
      grid-template-areas:
        '. y-header .'
        '. map x-header'
        '. z-legend .';
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .x-header {
      display: flex;
      grid-area: x-header;
      justify-content: center;
      .x-label {
        align-self: center;
      }
    }
    .y-header {
      display: flex;
      grid-area: y-header;
      justify-content: center;
      .y-label {
        align-self: center;
      }
    }
    .z-legend {
      grid-area: z-legend;
    }
    .map {
      grid-area: map;
      display: grid;
      max-width: 100%;
    }
  }
  @each $position, $background-color, $color in $z-gradient-list {
    [data-z-gradient='#{$position}'] {
      border: solid 1px $background-color;
      background-color: $background-color;
      color: $color;
    }
  }
  [data-drop-target] {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: solid 1px lightgray;
    overflow: scroll;
    justify-content: space-around;
    align-content: space-around;
    padding: 0.4rem;
    list-style: none;
    transition: all 0.3s ease-in-out;
    [draggable] {
      display: flex;
      flex-direction: column;
      align-self: center;
      position: relative;
      border-style: solid;
      border-width: 2px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      transition: all 0.3s ease-in-out;
      img {
        object-fit: cover;
        object-position: 50% 15%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        clear: left;
      }
      figcaption {
        display: block;
        position: absolute;
        float: left;
        bottom: 0;
        width: 100%;
        font-size: x-small;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        background-color: inherit;
      }
    }
    &.border-top {
      border-top-style: $default-border-style;
      border-top-width: $default-border-width;
      border-top: solid 4px black;
    }
    &.axis-top {
      border-top-style: $default-border-style;
      border-top-width: $default-axis-width;
      border-top: solid 1px black;
    }
    &.border-right {
      border-right-style: $default-border-style;
      border-right-width: $default-border-width;
      border-right: solid 4px black;
    }
    &.axis-right {
      border-right-style: $default-border-style;
      border-right-width: $default-axis-width;
      border-right: solid 1px black;
    }
    &.border-bottom {
      border-bottom-style: $default-border-style;
      border-bottom-width: $default-border-width;
      border-bottom: solid 4px black;
    }
    &.axis-bottom {
      border-bottom-style: $default-border-style;
      border-bottom-width: $default-axis-width;
      border-bottom: solid 1px black;
    }
    &.border-left {
      border-left-style: $default-border-style;
      border-left-width: $default-border-width;
      border-left: solid 4px black;
    }
    &.axis-left {
      border-left-style: $default-border-style;
      border-left-width: $default-axis-width;
      border-left: solid 1px black;
    }
    &[class*=extra] {
    }
  }
  [data-drop-target='out'] {
    border: none;
  }
  .drag-enter {
    background-color: lightgray;
    border-style: solid;
  }
}
