$z-gradient-list: (
  (0, #cf3027, white),
  (1, #f58220, white),
  (2, #feda00, white),
  (3, #90c73e, white),
  (4, #11a249, white),
  (5, darkred, white),
  ('unknown', gray, white)
);
.powerade-legacy {
  @each $position, $background-color, $color in $z-gradient-list {
    [data-z-gradient='#{$position}'] {
      border: solid 2px $background-color;
      background-color: $background-color;
      color: $color;
    }
  }
  [data-drop-target] {
    background-color: #f1f1f1;
    border: dashed 1px #9e1e4c;
  }
  .drag-enter {
    background-color: #9e1e4c;
    border-color: #9e1e4c;
  }
}
