$default-border-style: solid;
$default-border-width: 4px;
$default-axis-width: 2px;
$z-gradient-list: (
  (0, whitesmoke, black),
  (1, lightgray, black),
  (2, darkgray, black),
  (3, gray, white),
  (4, dimgray, white),
  (5, black, white),
  ('unknown', white, gray)
);
.powerade {
  border-collapse: collapse;
  border-spacing: 0;
  caption, tbody, tfoot, thead, tr, th, td, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
  }
  tr {
    border: none;
    td {
      &.border-top {
        border-top-style: $default-border-style;
        border-top-width: $default-border-width;
      }
      &.axis-top {
        border-top-style: $default-border-style;
        border-top-width: $default-axis-width;
      }
      &.border-right {
        border-right-style: $default-border-style;
        border-right-width: $default-border-width;
      }
      &.axis-right {
        border-right-style: $default-border-style;
        border-right-width: $default-axis-width;
      }
      &.border-bottom {
        border-bottom-style: $default-border-style;
        border-bottom-width: $default-border-width;
      }
      &.axis-bottom {
        border-bottom-style: $default-border-style;
        border-bottom-width: $default-axis-width;
      }
      &.border-left {
        border-left-style: $default-border-style;
        border-left-width: $default-border-width;
      }
      &.axis-left {
        border-left-style: $default-border-style;
        border-left-width: $default-axis-width;
      }
      &[class*=extra] {
      }
    }
    th.y-label {
      text-align: center;
    }
  }
  @each $position, $background-color, $color in $z-gradient-list {
    .z-gradient-#{$position} {
      background-color: $background-color;
      color: $color;
    }
  }
  .item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1px 1px;
    height: 32px;
    font-size: 13px;
    border-radius: 8px;
    max-width: 100px;
    img {
      border-radius: 8px;
      float: left;
      height: 32px;
      width: 32px;
    }
    span {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  [data-drop-target] {
    text-align: center;
    border: dashed 1px black;
    border-radius: 2px;
    margin: 10px auto 30px;
    padding: 1px;
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    transition: background-color 0.3s;
  }
  [draggable] {
    transition: background-color 0.3s;
  }
  .drag-enter {
    background-color: lightgray;
    border-style: solid;
  }
}
